<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <link rel="stylesheet"
               href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
          <link rel="stylesheet" href="assets/css/style.css">
          <title>Tugas NodeJS 3</title>
     </head>

     <body>
          <div class="container">
               <div class="row">
                    <div class="col p-2">
                         <form action="/add" method="POST">
                              <div class="form-group">
                                   <label for="nama">Nama Game</label>
                                   <input type="text" name="nama" class="form-control">
                              </div>
                              <br>
                              <div class="form-group">
                                   <label for="genre">Genre</label>
                                   <input type="text" name="genre" class="form-control">
                              </div>
                              <br>
                              <button type="submit" class="btn btn-primary">Submit</button>
                         </form>
                    </div>
                    <div class="col p-2">
                         <h2 align="center">Game List</h2>
                         <ol>
                              <% games.forEach(game=> { %>
                                   <li>
                                        Nama : <%= game.name %> <br>
                                             Genre: <%= game.genre %> <br>
                                                  <a href="/delete?id=<%= game.id %>" id="delete"
                                                       class="btn btn-danger">Delete</a> &nbsp;&nbsp;&nbsp;
                                                  <a href="/update?id=<%= game.id %>" id="update"
                                                       class="btn btn-success">Update</a>
                                   </li>
                                   <% }); %>
                         </ol>
                    </div>
               </div>
          </div>
     </body>

</html>