<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <link rel="stylesheet"
               href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
          <link rel="stylesheet" href="assets/css/style.css">
          <title>Tugas NodeJS 3</title>
     </head>

     <body>
          <div class="container">
               <h1 align="center">Update Data ID - <%= games[0].id %>
               </h1>
               <form action="/update" method="POST">
                    <input type="hidden" name="id" value="<%= games[0].id %>">
                    <div class="form-group">
                         <label for="nama">Nama Game</label>
                         <input type="text" name="nama" value="<%= games[0].name %>" class="form-control">
                    </div>
                    <br>
                    <div class="form-group">
                         <label for="genre">Genre</label>
                         <input type="text" name="genre" value="<%= games[0].genre %>" class="form-control">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
               </form>
          </div>
     </body>

</html>